#!/bin/bash
wget -q -O "Downloads/caddy/caddy_{{ caddy_version }}_linux_{{ system_architecture }}.tar.gz" "{{ caddy_baseurl }}/v{{ caddy_version}}/caddy_{{ caddy_version }}_linux_{{ system_architecture }}.tar.gz"
##

